/* colors */

* {
  al:      #494845ff;
  bg:      #494845ff;
  se:      #FF5D5Dff;
  fg:      #f5f5f5ff;
  ac:      #FF5D5Dff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #FF5D5Dff;
  purple:  #FF5D5Dff;
  cyan:    #FF5D5Dff;
}
